body{
    background-color: #2B2E4A;
    color: #E84545;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#table{
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 400px;
    width: 400px;
    border: #E84545 2px solid;
}

.square{
    display: grid;
    flex-wrap: wrap;
    border: #903749 solid 2px;
    justify-content: center;
    align-content: center;  
}

#playerNames{
    display: flex;
    padding-top: 10px;
    gap: 10px;
}

input{
    height: 50px;
    width: 150px;
    background-color: #903749;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#startGame{
    background-color: #903749;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#restartGame{
    background-color: #903749;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

/* .square{
    display: flex;
    flex-wrap: wrap;
    float: left;
    border: 2px solid #E84545;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30%;
    font-size: 80px;
}

#playerNames, #message{
    text-align: center;
    margin: 20px 0;
} */

